
<div class="d-flex flex-row">
  <form action="answer" data-turbo="false" class="form-control col-6 text-center">
    <input type="text" name="question" class="p-2">
    <input type="submit" value="Ask!" class="btn btn-primary p-2">
  </form>
</div>
